@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=PT+Serif:ital@1&family=Quintessential&display=swap');

:root{
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0,0, .1);

}
*{
  font-family: 'Heebo', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Quintessential', cursive;
  background-color: white;
  font: black;
  margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
}

html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
header{
 background-color: white;
 z-index: 1000;
 box-shadow:  var(--box-shadow);

}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 2%;
}
.about{
  padding-left: 15%;
}
.contact{
padding-right: 15%;
}
.content{
  font-size: 2rem;
  
}
.content:hover{
  color: #6c757d;
}





#design{
  margin: auto;
  background-color: #efefef;
  padding: 1% 8% 2% 8%;
}
#design h2{
  text-align: center;
  font-size:2rem;
}

#design p{
  text-align: center;
}
